html,body,h1,h2,h3,h4,h5 {
  font-family: "Lato", sans-serif
}

.mySlides {
  display:none
}

.w3-left, .w3-right, .w3-tag {
  cursor:pointer
}

.w3-tag {
  height:15px;
  width:15px;
  padding:0;
  margin-top:6px
}

* {
  margin: 0;
  padding: 0;
}

div {
  margin: 20px;
}

ul {
  list-style-type: none;
  width: 500px;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
  float: left;
  margin: 0 15px 0 0;
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li {
  padding: 10px;
  overflow: auto;
}

li:hover {
  background: #eee;
  cursor: pointer;
}
