{% extends "base.html" %}
{% block content %}


<div class="w3-content w3-container" style="max-width:1100px;margin-top:80px;margin-bottom:80px">
	<div class="w3-section">
		<br><br><br>
		<p>Welcome admin {{ username }}, this is your log-file Page</p>
		<hr>
		<center>
			
			
			<form action="{{ url_for('clear_logfile') }}" method="post" name="delete_logfiles">
			<br>
	        <p><input type="submit" value="Clear Log-File" style = "width: 100px"></p>
	    </form>
			
			
			
		<table border = 1>
			<tr><th>Date</th><th>User</th><th>Role</th><th>Action</th></tr>
			{% for file in files %}
			<tr><td>{{file.timestamp.strftime("%Y-%m-%d %H:%M:%S")}}</td><td>{{file.user}}</td><td>{{file.role}}</td><td>{{file.action}}</td></tr>
			{% endfor %}
		</table>
		</center>
		

	</div>
</div>

{% endblock %}


