{% extends "base.html" %}
{% block content %}


<div class="w3-content w3-container" style="max-width:1100px;margin-top:80px;margin-bottom:80px">
	<p>Welcome miner {{ username }}, this is your station - status PAGE</p>
	<hr>
	<div class="w3-section" style = "float:right">
		<h4>Station {{station.name}}</h4>
		<br>
		<p>Location : {{station.location}}</p>
		<p>Oxygen : {{station.oxygen}} %</p>
		<p>Food supplies : {{station.food}} %</p>
		<p>Crew : {{station.crew}} members </p>
		<p>Alarm : {{station.alarm}}</p>
	</div>
	
	
	<div class="w3-section" style = "float:left">
		{% for m in messages.items %}
		<p>{{m.date.strftime("%Y-%m-%d")}}, {{m.title}}, {{m.text}}</p>
		{% endfor %}
		{% if messages.has_prev %}<a href="{{ url_for('station_status', page=messages.prev_num) }}">&lt;&lt; Newer messages</a>{% else %}&lt;&lt; Newer messages{% endif %} | 
		{% if messages.has_next %}<a href="{{ url_for('station_status', page=messages.next_num) }}">Older messages &gt;&gt;</a>{% else %}Older messages &gt;&gt;{% endif %}
</div>



{% endblock %}


